* {
    box-sizing: border-box;
}

.img-center {
    display: flex;
    justify-content: center;
}

.txt-center {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px 10px;
    background-color: blanchedalmond;
    margin-top: 20px;
    margin-bottom: 20px;
}

.txt-center h5 {
    margin-bottom: 0px;
}

.card-input-wrapper {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  max-width: 100%;
}

.card-input {
  border: none;
  padding: 12px;
  flex: 1;
  font-size: 16px;
  outline: none;
}

.card-input:not(:last-child) {
  border-right: 1px solid #ccc;
}
